body{
      max-width: 1668px;
      margin: 0 auto;
}

.headerWrap{
  background: #fff;
}
.sitename {
  float: left;
}

.menu {
  display: none;
}

.menubar li {
  float: right;
  display: inline-block;
}

.menubar ul {
  position: relative;
  float: right;
  top: 35px;
  right: 5%;
}

.container {
  min-height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-repeat: no-repeat;
}
